{% extends 'base.html' %}
{% block content %}
{% load static %}
  

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
						<h2 class="mb-3">{{Post.title}}</h2>
            
              <img src="{{Post.thumnail.url}}" alt="" class="img-fluid">
            </p>
            <p>{{Post.overview | safe}} </p>
              <div id="fb-root"></div>
              <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="0NDfYzRX"></script>
              <div class="fb-like" data-href="http://www.retastetn.com/blog_detail/{{Post.id}}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true" style="margin-top: 15px;"></div> 
              <div class="fb-comments" data-href="http://www.retastetn.com/blog_detail/{{Post.id}}" data-width="100%" data-numposts="5"></div>
              
           </div>
          <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar ftco-animate">
          
            <div class="sidebar-box ftco-animate">
              <h3 class="heading">Articles les plus récents</h3>

              {% for obj in last %}

              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({{obj.thumnail.url}});"></a>
                <div class="text">
                  <h3 class="heading-1"><a href="{{obj.get_absolute_url}}">{{ obj.title }}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span>{{obj.date_added}}</a></div>
                    <div><a href="#"><span class="icon-person"></span> Retaste</a></div>
                  </div>
                </div>
              </div>
              {% endfor %}  
              
              
            </div>
            
        

            
          </div>

        </div>
      </div>
    </section> 

  {% endblock content %}
  
