<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                      <a href="#" class="mouse-icon">
                          <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                      </a>
                  </div>
        </div>
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Retatse</h2>
            <p>Vous propose des produits 100% artisanaux élaborés avec des ingrédients du territoire tunisien Nous expérimentons pour vous proposer des produits délicieux et qui font du bien à votre santé.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="https://www.facebook.com/RetasteTN"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.instagram.com/retastetn/"><span class="icon-instagram"></span></a></li>
              <li class="ftco-animate"><a href="https://www.whatsapp.com/catalog/21658697418/?app_absent=0/"><span class="icon-whatsapp"></span></a></li>
            
              
            
            </ul>


          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Menu</h2>
            <ul class="list-unstyled">
              <li><a href="/home" class="py-2 d-block">Acceuil</a></li>
              <li><a href="/about" class="py-2 d-block">Retaste</a></li>
              <li><a href="/shop" class="py-2 d-block">Nos Produits</a></li>
              <li><a href="/Blog" class="py-2 d-block">Blog</a></li>
              <li><a href="/contact" class="py-2 d-block">Contact</a></li>
             
            </ul>
          </div>
        </div>
    
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Adresse</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Route sidi Mansour Klm5, cité Wéfa N°6, Sfax, 3064, Tunisie.</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+216 58 697 418</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">RETASTE.TN@GMAIL.COM</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <a href="/home" >Retaste</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
        </div>
      </div>
    </div>
  </footer>
  


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>