{% extends 'base.html' %}
{% block content %}
{% load static %}
  
		
    <!-- END nav -->

    <section id="home-section" class="hero">
		  <div class="home-slider owl-carousel">
        {% for banner in data_1 %}
	      <div class="slider-item" style="background-image: url({{banner.image.url}});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="false">

	            <div class="col-md-12 ftco-animate text-center">
	              <h1 class="mb-2"></h1>
	              <h2 class="subheading mb-4"></h2>
	              <p><a href="/about" class="btn btn-primary">Retaste</a></p>
	            </div>

	          </div>
	        </div>
	      </div>
        {%endfor%}
	 
	
	    </div>
    </section>



    <section class="ftco-section">
			<div class="container">
        <div class="col-md-12 heading-section text-center ftco-animate">
    
          <h2 class="mb-4"> Pourquoi les produit de Retaste ?</h2>
  
        </div>
				<div class="row no-gutters ftco-services">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Livraison Rapide</h3>
                <span>livraison à domicile pour toute la tunisie</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">100% Naturel</h3>
                <span>Produits bien emballés</span>
              </div>
            </div>    
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Qualité supérieure</h3>
                <span>100% Tunisien</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support</h3>
                <span>24/7 Support</span>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>

		<section class="ftco-section ftco-category ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6 order-md-last align-items-stretch d-flex">
								<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url({% static 'images/4.jpg' %});">
									<div class="text text-center" id="to_hide">
										<h2>Retaste</h2>
										<p>Du Bon Qui Fait Du Bien</p>
										<p><a href="#" class="btn btn-primary">Nos Produits</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'images/8.jpg' %});">
									
								</div>
								<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'images/5.jpg' %});">
									
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'images/6.jpg' %});">
									
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'images/7.jpg' %});">
							
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
    
            <h2 class="mb-4"> Nos Produits en Vedette</h2>
    
          </div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">


				{% for product in data %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="/product/{{product.slug}}/{{product.id}}" class="img-prod"><img class="img-fluid" src="{{product.image.url}}" alt="img">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="price-sale">{{product.price}} DT</span></p>
		    					</div>
	    					</div>
                
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
                    <form method="post" >
                      {% csrf_token %}
                      <div class="control">
                        <input type="hidden" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                        <input type="hidden" name="prod_id" value="{{product.id}}">
                      </div>

                      <div class="control">
	    							<button id="buy_it" class=" d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
                    </button>
                  </div>
                  </form>
	    						
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
				{% endfor %}
        {% if messages %}
							{% for message in messages %}
								<div class="notification is-success is-toast">{{message }}</div>
							{% endfor %}
						{% endif %}

    		</div>
    	</div>
    </section>
		
		<section class="ftco-section img" id ="back"style="background-image: url({% static 'images/8.jpg' %});height: 470px; ; ">
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
  
            <h2 class="mb-4">L'avis de nos clients est important !</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
             
         
         
              {% for testimonial in test %}
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({{testimonial.image.url}})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">{{ testimonial.detail }}</p>
                    <p class="name">{{testimonial.name}}</p>
                    
                  </div>
                </div>
              </div>
              {% endfor %}


            </div>
          </div>
        </div>
      </div>
    </section>

  


		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Abonnez-vous à notre Newsletter </h2>
          	<span>Découvrez en exclusivité nos meilleures offres</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form method="post" class="subscribe-form">
              {% csrf_token %}
              <div class="form-group d-flex">
                <input type="email" name="mail" class="form-control" placeholder="Entrez votre adresse e-mail" required>
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
<style>
#buy_it{
  background-color: #82ae46; /* Green */
  border: none;
  color: white;
  font-size: 25px;
  border-radius: 40px;
}
@media (max-width: 767px) {
#to_hide{ 
 display: none;
   }
}
</style>
{% endblock content %}
  